body {
    /*background-color: #d8daed;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.hoursSubmission {
    font-size: 16pt;
    margin: 10px;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.page {
    background-color: #f5f2f2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: auto;
    box-shadow: 1px 1px 5px #888888;
}

div#hoursSection {
    margin: 0 auto;
    overflow: auto;
    width: 50%;
}

#map {
    max-height: 350px;
}
